// Custom utilities to extend Bootstrap's utility classes

// Background gradient utility for a primary to secondary gradient
.bg-gradient-primary-to-secondary {
    background: $primary;
    background: linear-gradient(135deg, $primary 0%, $secondary 100%);
}

// Utility for creating gradient text
// Note: When using gradient text, it is best utilized on
// text that has the position set to inline
.text-gradient {
    background: -webkit-linear-gradient(315deg, $primary 0%, $secondary 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// Additional rounded border utility that uses a custom XL border radius (defined in _variables.scss)
.rounded-4 {
    border-radius: $border-radius-xl !important;
}


.position-relative {
  display: inline-block;
  overflow: hidden;
}
.image-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 700px; /* Adjust to desired width */
  height: 400px; /* Set the height to control the aspect ratio */
  overflow: hidden; /* Hide overflow if the image exceeds the container */
}

.img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container */
  object-position: right; /* Shows the top part of the image */
}

.left {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container */
  object-position: left; /* Shows the top part of the image */
}

.mileu {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container */
  object-position: top; /* Shows the top part of the image */
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-wrapper:hover .overlay {
  opacity: 1; /* Show overlay on hover */
}

.image-wrapper:hover img {
  filter: brightness(0.8); /* Slightly darken the image on hover */
}

.position-relative:hover .overlay {
  opacity: 1; /* Show overlay on hover */
}


.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  width: 50px;
  height: 50px;
  background-color: #a8a8a8;  // Gris foncé
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 18px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  z-index: 1000;

  &:hover {
    background-color: #9e9e9e;  // Gris légèrement plus clair
    transform: scale(1.05); // Agrandit légèrement au survol
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    color: ;
  }

  i {
    transition: all 0.3s ease;
  }
}
