// Set to modal-xl for e-recrutement
#imageModal.modal.fade(tabindex='-1' aria-labelledby='imageModalLabel' aria-hidden='true')
  .modal-dialog.modal-dialog-scrollable.modal-xl
    .modal-content
      .modal-header
        h5#imageModalLabel.modal-title
          | E-Recruitment Platform - Project
          | Showcase
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        p.text-muted.text-center
          strong.text-gradient
            | E-Recruitment Platform simplifies the hiring
            | process
          br
          strong.text-primary  Job seekers :
          |                                         can easily create profiles, upload their resumes, and
          |                                         apply for multiple job listings with just a few clicks, streamlining their job
          |                                         search.
          strong.text-primary Employers :
          |                                         benefit from a straightforward registration process that allows them to post job
          |                                         openings and manage applications efficiently.
        p.text-muted.text-center
          | Explore the images below to see the platform&apos;s key features and user interface.
        hr
        .row
          .col-12.col-md-6.mb-3
            a.position-relative(href='assets/Home page.png' target='_blank')
              img.img-fluid.rounded(src='assets/Home page 2.png' alt='Image 1')
              .overlay
                i.fas.fa-eye
                |  See Image
          .col-12.col-md-6.mb-3
            a.position-relative(href='assets/Find6job.png' target='_blank')
              img.img-fluid.rounded(src='assets/Find6job.png' alt='Image 2')
              .overlay
                i.fas.fa-eye
                |  See Image
          .col-12.col-md-4.mb-3
            a.position-relative(href='assets/step1.jpg' target='_blank')
              img.img-fluid.rounded(src='assets/step1.jpg' alt='Image 3')
              .overlay
                i.fas.fa-eye
                |  See Image
          .col-12.col-md-4.mb-3
            a.position-relative(href='assets/profile page.png' target='_blank')
              img.img-fluid.rounded(src='assets/profile page.png' alt='Image 4')
              .overlay
                i.fas.fa-eye
                |  See Image
          .col-12.col-md-4.mb-3
            a.position-relative(href='assets/satatistique.jpg' target='_blank')
              img.img-fluid.rounded(src='assets/satatistique.jpg' alt='Image 5')
              .overlay
                i.fas.fa-eye
                |  See Image
      .modal-footer
        button.btn.btn-dark(type='button' data-bs-dismiss='modal') Close
// Set to modal-xl for e-health
#imageModal1.modal.fade(tabindex='-1' aria-labelledby='imageModalLabel' aria-hidden='true')
  .modal-dialog.modal-dialog-scrollable.modal-xl
    .modal-content
      .modal-header
        h5#imageModalLabel.modal-title Project Title - Gallery
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        p.text-muted.text-center
          strong.text-gradient
            | The E-Health Mobile Application streamlines
            | medical service bookings.
          br
          strong.text-primary  Doctor :
          |                                         Can easily manage appointments and provide services more efficiently, improving
          |                                         patient care.
          br
          strong.text-primary Patients :
          |                                         Can book appointments, view services, and receive notifications seamlessly,
          |                                         while logging medications with specific times and dates to ensure timely
          |                                         reminders for each dose.
        p.text-muted.text-center
          | Explore the images below to see the platform&apos;s key features and user interface.
        hr
        .row
          .col-12.col-md-6.mb-3
            a.position-relative(href='https://dummyimage.com/400x800/343a40/ffffff' target='_blank')
              img.img-fluid.rounded(src='https://dummyimage.com/500x400/343a40/ffffff' alt='Image 1')
              .overlay
                i.fas.fa-eye
                |  See Image
          .col-12.col-md-6.mb-3
            a.position-relative(href='https://dummyimage.com/800x400/6c757d/ffffff' target='_blank')
              img.img-fluid.rounded(src='https://dummyimage.com/500x400/6c757d/ffffff' alt='Image 2')
              .overlay
                i.fas.fa-eye
                |  See Image
          .col-12.col-md-4.mb-3
            a.position-relative(href='https://dummyimage.com/800x400/007bff/ffffff' target='_blank')
              img.img-fluid.rounded(src='https://dummyimage.com/400x400/007bff/ffffff' alt='Image 3')
              .overlay
                i.fas.fa-eye
                |  See Image
          .col-12.col-md-4.mb-3
            a.position-relative(href='https://dummyimage.com/800x400/28a745/ffffff' target='_blank')
              img.img-fluid.rounded(src='https://dummyimage.com/400x400/28a745/ffffff' alt='Image 4')
              .overlay
                i.fas.fa-eye
                |  See Image
          .col-12.col-md-4.mb-3
            a.position-relative(href='https://dummyimage.com/800x400/d39e00/ffffff' target='_blank')
              img.img-fluid.rounded(src='https://dummyimage.com/400x400/d39e00/ffffff' alt='Image 5')
              .overlay
                i.fas.fa-eye
                |  See Image
      .modal-footer
        button.btn.btn-dark(type='button' data-bs-dismiss='modal') Close
// Call to action section
section.py-5.bg-gradient-primary-to-secondary.text-white
  .container.px-5.my-5
    .text-center
      h2.display-4.fw-bolder.mb-4 Let&apos;s build something together
      a.btn.btn-outline-light.btn-lg.px-5.py-3.fs-6.fw-bolder(href='contact.html') Contact me
// Footer
footer.bg-white.py-4.mt-auto
  .container.px-5
    .row.align-items-center.justify-content-between.flex-column.flex-sm-row
      .col-auto
        .small.m-0 Copyright &copy; Your Website 2023
// Bootstrap core JS
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')
// Core theme JS
script(src='js/scripts.js')
